# 모든 하위 폴더 내의 Library, Temp 폴더를 무시합니다.
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[探]Logs/
**/UserSettings/

# Visual Studio / Rider 관련 파일
.vs/
.idea/
*.sln
*.csproj
*.unityproj
